USER_ID=user123
STACK_SERVICE_NAME=src_core
CORE_PORT=8000
CORE_HOST=localhost


NATS_URL=nats://localhost:4222
NATS_EVENTS_SUBJECT=nats.events.
NATS_AGENT_SUBJECT=nats.agent.
NATS_REQUEST_TIMEOUT=600
ASR_IN_PREFIX=nats.asr.input.
ASR_OUT_PREFIX=nats.asr.output.


ASR_MODELS=/app/models/asr
ASR_MODEL_ID=Systran/faster-whisper-small

# --- OpenTelemetry (optional) ---
# OTEL_TRACES_EXPORTER=otlp
# OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318
# OTEL_EXPORTER_OTLP_ENDPOINT_FRONT=/v1/traces
