USER_ID=user123
STACK_SERVICE_NAME=src_core
CORE_PORT=8000
CORE_HOST=localhost


NATS_URL=nats://localhost:4222
NATS_EVENTS_SUBJECT=nats.events.
NATS_AGENT_SUBJECT=nats.agent.
NATS_ASR_SUBJECT=nats.asr.


ASR_MODELS_DIR=/app/models/asr
ASR_MODEL_ID=Systran/faster-whisper-small

VAD_MODEL_PATH=/app/models/vad
VAD_MODEL_URL=https://github.com/snakers4/silero-vad/raw/refs/heads/master/src/silero_vad/data/silero_vad.onnx


