USER_ID=user123
STACK_SERVICE_NAME=src_langgraph

NATS_URL=nats://localhost:4222
NATS_LANGGRAPH_RUN_SUBJECT=nats.langgraph.run
NATS_LANGGRAPH_HEALTH_SUBJECT=nats.langgraph.health
NATS_LLM_SUBJECT=nats.llm.
NATS_TOOLS_PREFIX=nats.tools.

NATS_REQUEST_TIMEOUT_SECONDS=120
MAX_CONCURRENCY=8

