.env.local
docker-compose.dev.yml
dev/**
*.iml
yarn.lock
.qodo
.idea
coverage
*/spec/results
**/venv


/src_whisper/models/
/src_back/server/recordings/
/src_back/.venv/
/src_whisper/.venv/
/src_whisper/.venv/*
/src_whisper/recordings/
/src_whisper/recordings_raw/
/src_whisper_ruby/recordings/
/src_whisper_ruby/models/
/models/
/src_whisper_ruby/.bundle/
