.env.local
docker/.env.debug
docker-compose.dev.yml
dev/**
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
*.iml
yarn.lock
.qodo
.idea
coverage
*/spec/results
**/venv


/src_whisper/models/
/src_core/models/
/src_core/recordings/
/src_core/.venv/
/src_whisper/.venv/
/src_whisper/.venv/*
/src_whisper/recordings/
/src_whisper/recordings_raw/
/src_whisper_ruby/recordings/
/src_whisper_ruby/models/
/models/
/src_whisper_ruby/.bundle/
!src_whisper_ruby/.env.local
/src_whisper_c/models/
/src_whisper_c/build/
/src_llm/model/
/base_project/docker/.env
/src_front/node_modules/
/src_front/dist/
/src_front/tsconfig.tsbuildinfo
/src_llm/models/
/otel/
/vendor/
/src_whisper/out/
/src_langgraph_rb/.bundle/
