USER_ID=user123
STACK_SERVICE_NAME=src_llm

NATS_URL=nats://127.0.0.1:4222
NATS_EVENTS_SUBJECT=nats.events.
NATS_AGENT_SUBJECT=nats.agent.
NATS_LLM_SUBJECT=nats.llm.

LLM_MODE=remote
LLM_LOCAL_MODEL=Qwen/Qwen3-1.7B-GGUF
LLM_REMOTE_MODEL=qwen3:30b
LLM_MODELS=models/llm
LLM_CONTEXT_SIZE=16384

# OLLAMA-compatible endpoint (no auth mode)
# NOTE: set base URL only (client appends /api/* itself)
OLLAMA_URL=https://nats2ollama.gis-master.ru


# LIMITS
MAX_OUTPUT_TOKENS=8096
DEFAULT_MAX_TOKENS=2048
