USER_ID=user123
STACK_SERVICE_NAME=src_llm

NATS_URL=nats://127.0.0.1:4222
NATS_EVENTS_SUBJECT=nats.events.
NATS_AGENT_SUBJECT=nats.agent.

# OLLAMA
OLLAMA_URL=http://192.168.2.108:11435
OLLAMA_MODEL=osmosis-mcp-4bQ8_0

# SYSTEM PROMPT
SYSTEM_PROMPT_FILE=system_prompt.txt

# LIMITS
MAX_OUTPUT_TOKENS=8096
DEFAULT_MAX_TOKENS=2048