STACK_SERVICE_NAME=src_whisper_ruby
ASR_MODEL_URL='https://huggingface.co/ggerganov/whisper.cpp/resolve/main/ggml-small.bin'
ASR_MODEL_SHA1='55356645c2b361a969dfd0ef2c5a50d530afd8d5'
NATS_FRAMES_SUBJECT='nats.frames'
NATS_LOGS_SUBJECT='nats.logs'
ASR_MODELS_DIR='./models/asr'
