STACK_SERVICE_NAME=src_whisper

NATS_URL=nats://127.0.0.1:4222
NATS_EVENTS_SUBJECT=nats.events.
ASR_IN_SUBSCRIBE=nats.asr.input.>
ASR_IN_PREFIX=nats.asr.input.
ASR_OUT_PREFIX=nats.asr.output.
WEBUI_ENABLED=1
WEBUI_HOST=0.0.0.0
WEBUI_PORT=8090
WEBUI_BASE_PATH=

ASR_MODELS=./models/asr
ASR_MODEL_ID=Systran/faster-whisper-small
