STACK_SERVICE_NAME=src_whisper
USER_ID=user123

NATS_URL=nats://127.0.0.1:4222
NATS_EVENTS_SUBJECT=nats.events.
NATS_ASR_SUBJECT=nats.asr.

ASR_MODELS=./models/asr
ASR_MODEL_ID=Systran/faster-whisper-small

VAD_MODELS=./models/vad
VAD_MODEL_URL=https://github.com/snakers4/silero-vad/raw/refs/heads/master/src/silero_vad/data/silero_vad.onnx

VAD_SAMPLE_RATE=16000
MIN_SPEECH_DURATION_MS=250
MIN_SILENCE_DURATION_MS=500
MAX_SPEECH_DURATION_S=30.0
SPEECH_PAD_MS=30
VAD_THRESHOLD=0.8
BUFFER_CHECK_INTERVAL_S=1.0

WHISPER_LANGUAGE=ru
WHISPER_BEAM_SIZE=1
WHISPER_MAX_CONCURRENCY=1
