STACK_SERVICE_NAME=src_whisper
USER_ID=user123

NATS_URL=nats://127.0.0.1:4222
NATS_EVENTS_SUBJECT=nats.events.
NATS_ASR_SUBJECT=nats.asr.

ASR_MODELS=./models/asr
ASR_MODEL_ID=Systran/faster-whisper-small